<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Responsive Navigation Menu</title>
      <link rel="stylesheet" href="static/css/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <nav>
         <div class="logo">
            EDFS
         </div>
         <input type="checkbox" id="click">
         <label for="click" class="menu-btn">
         <i class="fas fa-bars"></i>
         </label>
         <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/terminal">Terminal</a></li>
            <li><a href="/interface">File System Interface</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/analytics">Analytics</a></li>
         </ul>
      </nav>
      <div class="content">
         <div>
            Responsive Navigation Menu for Emulated Distributed File System
         </div>
      </div>
   </body>
</html>